<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="file1">Выберите файл:</label>
  <input type="file" name="file1" id="file1" accept=".pdf"><br><br>

  <label for="bookTitle">Название книги:</label>
  <input type="text" name="book.title" id="bookTitle"><br><br>

  <label for="bookAuthor">Автор:</label>
  <input type="text" name="book.author" id="bookAuthor"><br><br>

  <!-- Другие поля для данных о книге -->

  <input type="submit" value="Загрузить книгу">
</form>
